.App {
  text-align: center;
  display:flex;
  background-color:#282c34;
  color:aliceblue;
  position:absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidebar{

  width: 240px;

  border: solid 1px #282c34;
  background-color: #282c34 ;
  padding: 10px;

}
.chatbox{
  flex:1;
  background-color: #323541;
  border: solid 1px #323541;
  position: relative;
  outline: none;

}
.button{
  border: 1px solid white;
  padding: 10px;
  text-align: left;
  font-size: 15px;
  transition: ease 0.25s all;
}
.button span{
padding-left: 10px;
padding-right: 10px;

}
.button:hover{
  background-color: rgba(255, 255,255,0.1);
  
}
.chatbox-child{
  background-color: #40414f;
  width:75%;
  outline: none;
  border-radius: 5px;
  margin: 10px;
 font-size: 17px;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.5);
  padding:8px;
  color:white;
  border :none;
  border-color: none;


}
.chatbox-parent{

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 20px;
  outline: none;
  
}
.chat-log{
  
  text-align: left;

}
  
.chat-message.chatgpt{
  
  background-color: rgba(255, 255,255,0.1);

}
.chat-text{
  
  padding-left: 40px;
  padding-right:40px;
  padding-top:8px;
  
}
.chat-avatar{
  background-color: white;
  border-radius: 50%;
  width: 40px;
  height:40px;
  
}
.chat-message-center{
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding:12px;
  padding-left: 40px;
  padding-right:40px;
}

.chat-avatar.chatgpt{

  background-color:#0da37f;
  border-radius: 50%;
  width: 40px;
  height:40px;
  
}
















